@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #0a66c2;
    --primary-color-dark: #004182;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html {
    font-family: "Poppins", sans-serif;
    background-color: #f4f2ee;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

strong {
    font-weight: 600;
}